<html>
<head>
    <title>API Examples</title>
</head>

<body>
    <h1><img src='{{ was.ab ("/avatar.png") }}' width=50 align='absmiddle'> API Examples</h1>
    <div>
        Here're some API examples using corequest of Skitai App Engine.
    </div>
    <ul>
        <li><a href='{{ was.ab ("apis.index") }}'>Basic</a></li>
        <li><a href='{{ was.ab ("apis.db") }}'>SQLite3 Querying</a></li>
        <li><a href='{{ was.ab ("apis.db2") }}'>SQLite3 Querying With Lazy Response</a></li>

        <li><a href='{{ was.ab ("apis.restapi") }}'>API Call</a></li>
        <li><a href='{{ was.ab ("apis.restapi2") }}'>API Call With Lazy Response</a></li>

        <li><a href='{{ was.ab ("apis.thread") }}'>Threading</a></li>
        <li><a href='{{ was.ab ("apis.thread2") }}'>Threading With Lazy Response</a></li>

        <li><a href='{{ was.ab ("apis.process") }}'>Processing</a></li>
        <li><a href='{{ was.ab ("apis.subprocess") }}'>Subprocessing</a></li>

        <li><a href='{{ was.ab ("apis.xmlrpc") }}'>XMLRPC</a></li>

    </ul>
</body>
</html>
